In [ ]:
from google.colab import files
uploaded = files.upload()

Saving tourism_rating.csv to tourism_rating.csv
Saving dummy_user.csv to dummy_user.csv
Saving tourism_with_id.csv to tourism_with_id.csv

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

rating = pd.read_csv('tourism_rating.csv', sep=',', error_bad_lines=False, encoding="latin-1")
user = pd.read_csv('dummy_user.csv', sep=',', error_bad_lines=False, encoding="latin-1")
tourism = pd.read_csv('tourism_with_id.csv', sep=',', error_bad_lines=False, encoding="latin-1")

In [ ]:
tourism

     Place_Id                                 Place_Name  ... Rating Time_Minutes
0           1                                      Monas  ...    4.6         15.0
1           2                                   Kota Tua  ...    4.6         90.0
2           3                              Dunia Fantasi  ...    4.6        360.0
3           4          Taman Mini Indonesia Indah (TMII)  ...    4.5          NaN
4           5                   Atlantis Water Adventure  ...    4.5         60.0
..        ...                                        ...  ...    ...          ...
444       445                        Museum Mpu Tantular  ...    4.4         45.0
445       446                              Taman Bungkul  ...    4.6          NaN
446       447           Taman Air Mancur Menari Kenjeran  ...    4.4         45.0
447       448               Taman Flora Bratang Surabaya  ...    4.6          NaN
448       449  Gereja Perawan Maria Tak Berdosa Surabaya  ...    4.8          NaN

[449 rows x 7 columns]

In [ ]:
rating

      User_Id  Place_Id  Place_Ratings
0           1       322              3
1           1       304              2
2           1       171              5
3           1       407              3
4           1       270              4
...       ...       ...            ...
9995      300       427              2
9996      300       186              4
9997      300       237              3
9998      300       244              4
9999      300       392              2

[10000 rows x 3 columns]

In [ ]:
user

     User_Id                     Location  Age
0          1        Semarang, Jawa Tengah   20
1          2           Bekasi, Jawa Barat   21
2          3          Cirebon, Jawa Barat   23
3          4           Bekasi, Jawa Barat   21
4          5    Lampung, Sumatera Selatan   20
..       ...                          ...  ...
295      296    Lampung, Sumatera Selatan   31
296      297  Palembang, Sumatera Selatan   39
297      298            Bogor, Jawa Barat   38
298      299          Sragen, Jawa Tengah   27
299      300         Ponorogo, Jawa Timur   26

[300 rows x 3 columns]

In [ ]:
tourism.isna().sum()

Place_Id          0
Place_Name        0
Category          0
City              0
Price             0
Rating            0
Time_Minutes    236
dtype: int64

In [ ]:
tourism[tourism.isna().any(axis=1)]

     Place_Id                                 Place_Name  ... Rating Time_Minutes
3           4          Taman Mini Indonesia Indah (TMII)  ...    4.5          NaN
6           7                     Kebun Binatang Ragunan  ...    4.5          NaN
7           8                              Ocean Ecopark  ...    4.0          NaN
8           9                           Pelabuhan Marina  ...    4.4          NaN
9          10                               Pulau Tidung  ...    4.5          NaN
..        ...                                        ...  ...    ...          ...
438       439                   Patung Buddha Empat Rupa  ...    4.3          NaN
442       443                       Taman Hiburan Rakyat  ...    4.2          NaN
445       446                              Taman Bungkul  ...    4.6          NaN
447       448               Taman Flora Bratang Surabaya  ...    4.6          NaN
448       449  Gereja Perawan Maria Tak Berdosa Surabaya  ...    4.8          NaN

[236 rows x 7 columns]

In [ ]:
tourism.mean()

Place_Id          225.000000
Price           24374.164811
Rating              4.443430
Time_Minutes       82.746479
dtype: float64

In [ ]:
tourism.fillna(tourism.mean(),inplace=True)

In [ ]:
tourism.isna().sum()

Place_Id        0
Place_Name      0
Category        0
City            0
Price           0
Rating          0
Time_Minutes    0
dtype: int64

In [ ]:
tourism_rating = pd.merge(rating, tourism, on='Place_Id')
cols = ['Category', 'Price', 'City', 'Rating', 'Time_Minutes']
tourism_rating.drop(cols, axis=1, inplace=True)

In [ ]:
tourism_rating

      User_Id  Place_Id  Place_Ratings         Place_Name
0           1       322              3      Taman Begonia
1          17       322              2      Taman Begonia
2          39       322              3      Taman Begonia
3          98       322              3      Taman Begonia
4         103       322              4      Taman Begonia
...       ...       ...            ...                ...
9995      229       366              2  Saloka Theme Park
9996      233       366              5  Saloka Theme Park
9997      233       366              3  Saloka Theme Park
9998      281       366              3  Saloka Theme Park
9999      286       366              2  Saloka Theme Park

[10000 rows x 4 columns]

In [ ]:
rating_count = (tourism_rating.
     groupby(by = ['Place_Name'])['Place_Ratings'].
     count().
     reset_index().
     rename(columns = {'Place_Ratings': 'RatingCount_Tourism'})
     [['Place_Name', 'RatingCount_Tourism']]
    )
    
threshold = 15
rating_count = rating_count.query('RatingCount_Tourism >= @threshold')

user_rating = pd.merge(rating_count, tourism_rating, left_on='Place_Name', right_on='Place_Name', how='left')

In [ ]:
user_rating

                                  Place_Name  ...  Place_Ratings
0     Ade Irma Suryani Nasution Traffic Park  ...              2
1     Ade Irma Suryani Nasution Traffic Park  ...              3
2     Ade Irma Suryani Nasution Traffic Park  ...              2
3     Ade Irma Suryani Nasution Traffic Park  ...              2
4     Ade Irma Suryani Nasution Traffic Park  ...              3
...                                      ...  ...            ...
9721                                Wot Batu  ...              5
9722                                Wot Batu  ...              3
9723                                Wot Batu  ...              5
9724                                Wot Batu  ...              5
9725                                Wot Batu  ...              4

[9726 rows x 5 columns]

In [ ]:
user_count = (user_rating.
     groupby(by = ['User_Id'])['Place_Ratings'].
     count().
     reset_index().
     rename(columns = {'Place_Ratings': 'RatingCount_user'})
     [['User_Id', 'RatingCount_user']]
    )
    
threshold = 10
user_count = user_count.query('RatingCount_user >= @threshold')

combined = user_rating.merge(user_count, left_on = 'User_Id', right_on = 'User_Id', how = 'inner')

In [ ]:
combined

                                  Place_Name  ...  RatingCount_user
0     Ade Irma Suryani Nasution Traffic Park  ...                33
1                    Air Terjun Kedung Pedut  ...                33
2               Alun Alun Selatan Yogyakarta  ...                33
3                    Bumi Perkemahan Cibubur  ...                33
4                            Candi Prambanan  ...                33
...                                      ...  ...               ...
9721                Taman Pelangi Yogyakarta  ...                24
9722                     Watu Mabur Mangunan  ...                24
9723                     Wisata Eling Bening  ...                24
9724                         Wisata Kalibiru  ...                24
9725                     Wisata Lereng Kelir  ...                24

[9726 rows x 6 columns]

In [ ]:
print('Number of unique tourism: ', combined['Place_Name'].nunique())
print('Number of unique users: ', combined['User_Id'].nunique())

Number of unique tourism:  428
Number of unique users:  300

In [ ]:
scaler = MinMaxScaler()
combined['Place_Ratings'] = combined['Place_Ratings'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(combined['Place_Ratings'].values.reshape(-1,1)))
combined['Place_Ratings'] = rating_scaled

In [ ]:
combined = combined.drop_duplicates(['User_Id', 'Place_Name'])
user_tourism_matrix = combined.pivot(index='User_Id', columns='Place_Name', values='Place_Ratings')
user_tourism_matrix.fillna(0, inplace=True)

users = user_tourism_matrix.index.tolist()
tourisms = user_tourism_matrix.columns.tolist()

user_tourism_matrix = user_tourism_matrix.values

In [ ]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorflow/python/compat/v2_compat.py:96: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [ ]:
num_input = combined['Place_Name'].nunique()
num_hidden_1 = 10
num_hidden_2 = 5

X = tf.placeholder(tf.float64, [None, num_input])

weights = {
    'encoder_h1': tf.Variable(tf.random_normal([num_input, num_hidden_1], dtype=tf.float64)),
    'encoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_hidden_2], dtype=tf.float64)),
    'decoder_h1': tf.Variable(tf.random_normal([num_hidden_2, num_hidden_1], dtype=tf.float64)),
    'decoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_input], dtype=tf.float64)),
}

biases = {
    'encoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'encoder_b2': tf.Variable(tf.random_normal([num_hidden_2], dtype=tf.float64)),
    'decoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'decoder_b2': tf.Variable(tf.random_normal([num_input], dtype=tf.float64)),
}

In [ ]:
def encoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['encoder_h1']), biases['encoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['encoder_h2']), biases['encoder_b2']))
    return layer_2

def decoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['decoder_h1']), biases['decoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['decoder_h2']), biases['decoder_b2']))
    return layer_2

In [ ]:

encoder_op = encoder(X)
decoder_op = decoder(encoder_op)

y_pred = decoder_op

y_true = X

In [ ]:
loss = tf.losses.mean_squared_error(y_true, y_pred)
optimizer = tf.train.RMSPropOptimizer(0.03).minimize(loss)
eval_x = tf.placeholder(tf.int32, )
eval_y = tf.placeholder(tf.int32, )
pre, pre_op = tf.metrics.precision(labels=eval_x, predictions=eval_y)

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorflow/python/training/rmsprop.py:123: calling Ones.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [ ]:
init = tf.global_variables_initializer()
local_init = tf.local_variables_initializer()
pred_data = pd.DataFrame()

In [ ]:
with tf.Session() as session:
    epochs = 100
    batch_size = 35

    session.run(init)
    session.run(local_init)

    num_batches = int(user_tourism_matrix.shape[0] / batch_size)
    user_tourism_matrix = np.array_split(user_tourism_matrix, num_batches)
    
    for i in range(epochs):

        avg_cost = 0
        for batch in user_tourism_matrix:
            _, l = session.run([optimizer, loss], feed_dict={X: batch})
            avg_cost += l

        avg_cost /= num_batches

        print("epoch: {} Loss: {}".format(i + 1, avg_cost))

    user_tourism_matrix = np.concatenate(user_tourism_matrix, axis=0)

    preds = session.run(decoder_op, feed_dict={X: user_tourism_matrix})

    pred_data = pred_data.append(pd.DataFrame(preds))

    pred_data = pred_data.stack().reset_index(name='Place_Ratings')
    pred_data.columns = ['User_Id', 'Place_Name', 'Place_Ratings']
    pred_data['User_Id'] = pred_data['User_Id'].map(lambda value: users[value])
    pred_data['Place_Name'] = pred_data['Place_Name'].map(lambda value: tourisms[value])
    
    keys = ['User_Id', 'Place_Name']
    index_1 = pred_data.set_index(keys).index
    index_2 = combined.set_index(keys).index

    top_ten_ranked = pred_data[~index_1.isin(index_2)]
    top_ten_ranked = top_ten_ranked.sort_values(['User_Id', 'Place_Ratings'], ascending=[True, False])
    top_ten_ranked = top_ten_ranked.groupby('User_Id').head(10)

epoch: 1 Loss: 0.3498840741813183
epoch: 2 Loss: 0.3497105985879898
epoch: 3 Loss: 0.34944650158286095
epoch: 4 Loss: 0.34904467687010765
epoch: 5 Loss: 0.34843404963612556
epoch: 6 Loss: 0.3475074991583824
epoch: 7 Loss: 0.3461056165397167
epoch: 8 Loss: 0.3439946360886097
epoch: 9 Loss: 0.3408418446779251
epoch: 10 Loss: 0.33619847521185875
epoch: 11 Loss: 0.32950766757130623
epoch: 12 Loss: 0.32013222947716713
epoch: 13 Loss: 0.3073381744325161
epoch: 14 Loss: 0.2903631813824177
epoch: 15 Loss: 0.2687258757650852
epoch: 16 Loss: 0.241294726729393
epoch: 17 Loss: 0.20608869194984436
epoch: 18 Loss: 0.16477215848863125
epoch: 19 Loss: 0.1240511042997241
epoch: 20 Loss: 0.08898668084293604
epoch: 21 Loss: 0.06409234972670674
epoch: 22 Loss: 0.047530374489724636
epoch: 23 Loss: 0.038201368879526854
epoch: 24 Loss: 0.031311576487496495
epoch: 25 Loss: 0.027696311939507723
epoch: 26 Loss: 0.026995052117854357
epoch: 27 Loss: 0.026836553821340203
epoch: 28 Loss: 0.02678107679821551
epoch: 29 Loss: 0.02675979328341782
epoch: 30 Loss: 0.02675091032870114
epoch: 31 Loss: 0.026746680261567235
epoch: 32 Loss: 0.02674410934560001
epoch: 33 Loss: 0.02674200083129108
epoch: 34 Loss: 0.026740114204585552
epoch: 35 Loss: 0.026738357497379184
epoch: 36 Loss: 0.02673666551709175
epoch: 37 Loss: 0.02673509158194065
epoch: 38 Loss: 0.026733690407127142
epoch: 39 Loss: 0.026732409605756402
epoch: 40 Loss: 0.026731161400675774
epoch: 41 Loss: 0.02672990574501455
epoch: 42 Loss: 0.026728633791208267
epoch: 43 Loss: 0.02672733785584569
epoch: 44 Loss: 0.026726009324193
epoch: 45 Loss: 0.026724623050540686
epoch: 46 Loss: 0.026723148301243782
epoch: 47 Loss: 0.02672154759056866
epoch: 48 Loss: 0.0267198181245476
epoch: 49 Loss: 0.02671801415272057
epoch: 50 Loss: 0.026716258376836777
epoch: 51 Loss: 0.026714590610936284
epoch: 52 Loss: 0.02671291772276163
epoch: 53 Loss: 0.026711151702329516
epoch: 54 Loss: 0.026709249475970864
epoch: 55 Loss: 0.02670721593312919
epoch: 56 Loss: 0.026705100666731596
epoch: 57 Loss: 0.026702986797317863
epoch: 58 Loss: 0.02670091879554093
epoch: 59 Loss: 0.02669884916394949
epoch: 60 Loss: 0.026696730172261596
epoch: 61 Loss: 0.026694530388340354
epoch: 62 Loss: 0.026692232117056847
epoch: 63 Loss: 0.026689832098782063
epoch: 64 Loss: 0.02668731939047575
epoch: 65 Loss: 0.026684691896662116
epoch: 66 Loss: 0.02668194705620408
epoch: 67 Loss: 0.026679079281166196
epoch: 68 Loss: 0.026676084846258163
epoch: 69 Loss: 0.026672961190342903
epoch: 70 Loss: 0.02666970924474299
epoch: 71 Loss: 0.026666324585676193
epoch: 72 Loss: 0.026662804884836078
epoch: 73 Loss: 0.026659154798835516
epoch: 74 Loss: 0.02665537316352129
epoch: 75 Loss: 0.026651466730982065
epoch: 76 Loss: 0.026647435501217842
epoch: 77 Loss: 0.02664328459650278
epoch: 78 Loss: 0.026639014249667525
epoch: 79 Loss: 0.0266346272546798
epoch: 80 Loss: 0.02663012547418475
epoch: 81 Loss: 0.026625507278367877
epoch: 82 Loss: 0.026620771968737245
epoch: 83 Loss: 0.026615920243784785
epoch: 84 Loss: 0.026610943488776684
epoch: 85 Loss: 0.026605839608237147
epoch: 86 Loss: 0.02660059602931142
epoch: 87 Loss: 0.026595203205943108
epoch: 88 Loss: 0.026589646702632308
epoch: 89 Loss: 0.026583919068798423
epoch: 90 Loss: 0.02657803357578814
epoch: 91 Loss: 0.026572019327431917
epoch: 92 Loss: 0.026565905893221498
epoch: 93 Loss: 0.02655970212072134
epoch: 94 Loss: 0.026553398929536343
epoch: 95 Loss: 0.02654698444530368
epoch: 96 Loss: 0.02654044679366052
epoch: 97 Loss: 0.02653377433307469
epoch: 98 Loss: 0.02652695099823177
epoch: 99 Loss: 0.026519963750615716
epoch: 100 Loss: 0.026512794196605682

In [ ]:
top_ten_ranked.loc[top_ten_ranked['User_Id'] == 19]

      User_Id                        Place_Name  Place_Ratings
7851       19       Kawasan Wisata Sosrowijayan       0.094833
7850       19                   Kawasan Punclut       0.089913
8095       19                     Tebing Breksi       0.078591
7825       19                 Jembatan Pasupati       0.078542
8045       19  Taman Air Mancur Menari Kenjeran       0.077138
8030       19                      Setu Babakan       0.076923
7853       19            Kebun Binatang Bandung       0.076503
7979       19                     Pantai Sundak       0.074481
8115       19                       Watu Goyang       0.074067
7891       19          Monumen Batik Yogyakarta       0.073170

In [ ]:
tourism_rating.loc[tourism_rating['User_Id'] ==16].sort_values(by=['Place_Ratings'], ascending=False)

      User_Id  ...                                   Place_Name
258        16  ...                            Desa Wisata Tembi
425        16  ...                             Wisata Kaliurang
6433       16  ...                                Pantai Congot
5060       16  ...                               Rainbow Garden
6511       16  ...                            Masjid Al-Imtizaj
4728       16  ...                        Patung Sura dan Buaya
2288       16  ...                   Pemandian Air Panas Ciater
2755       16  ...                                   Pulau Pari
6480       16  ...           Waterboom PIK (Pantai Indah Kapuk)
3216       16  ...                           Lembang Park & Zoo
2066       16  ...                          Hutan Bambu Keputih
4250       16  ...                       Flower Farm Setiya Aji
4319       16  ...      GPIB Immanuel Semarang (Gereja Blenduk)
2222       16  ...                             Hutan Pinus Asri
4990       16  ...                                  Lava Bantal
4946       16  ...  Taman Lalu Lintas Ade Irma Suryani Nasution
6448       16  ...                         Masjid Agung Ungaran
1271       16  ...                                   Pasar Baru
6288       16  ...                  Museum Kebangkitan Nasional
2178       16  ...                                  Kawah Putih
4216       16  ...                               Jembatan Merah
4917       16  ...                                 Kampung Cina
1523       16  ...                                Curug Bugbrug
3373       16  ...                               Pulau Bidadari
6357       16  ...                                   Candi Sewu
6432       16  ...                                Pantai Congot
3236       16  ...                              Pantai Nguluran
2951       16  ...                                 Pantai Cipta
2866       16  ...                              Candi Prambanan

[29 rows x 4 columns]